// _base.scss

// Import variables and mixins
@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "typography";
@import "utilities";

// Set box-sizing property to border-box for all elements
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100vh;
}

// button {
//   color: $light-color;
//   background: lighten($secondary-color, 20%);
//   outline: none;
//   border: 0;
//   border-radius: 5px;
//   @include size(max-content, 3em);
//   @include padding(1em);
//   transition: all 0.2s ease-in-out;

//   &:hover {
//     background: darken($secondary-color, 1%);
//     @include box-shadow(1px, 1px, 15px, 2px, lighten($secondary-color, 80%));
//   }
// }
