.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: calc(100% - 1em);
  margin: 0 2em;

  div:nth-child(2) {
    box-shadow: 0 0 10px 1px lighten($dark-color, 60%);
  }
}
